<div *ngIf="cartItems.length === 0" class="alert alert-info">Your cart is empty</div>

<ul *ngIf="cartItems.length>0" class="list-group">
    <li class="list-group-item" *ngFor="let items of cartItems">
        <app-cart-item [cartItem]="items"></app-cart-item>
    </li>

    <div class="list-group-item active">
        <strong>Total: {{cartTotal |currency:'INR'}}</strong>
    </div>
</ul>