<div class="card mb-4 box-shadow">
  <img
    class="card-img-top" width="100%" [src]="productItem.imageUrl"
  />
  <div class="card-body">
      <p class="card-text">
          <strong><small class="text-muted">{{productItem.price |currency:'INR'}}</small></strong>
      </p>
    <p class="card-text">
      {{productItem.description |slice: 0:80}}..
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary"
        (click)="handelAddTocart()">
          Add to cart
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          View details
        </button>
      </div>
    </div>
  </div>
</div>
